/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: 'Poppins', sans-serif;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 0;
  margin-right: 5%;
  padding-left: 2%;
  width: 100%;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  opacity: 0.7;
}
.headerOpacity img,
.header img {
  width: 55px;
  height: 45px;
  border-radius: 100%;
}

.headerOpacity {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 0;
  margin-right: 5%;
  padding-left: 2%;
  width: 100%;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  opacity: 1;
}

.logo {
  position: relative;
  padding-left: 5%;
  text-decoration: none;
  color: #fffb00;
  font-weight: 800;
  font-size: 20px;
}

.navbar a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-right: 50px;
  transition: .3s;
}

.navbar a:hover,
.navbar a.active {
  color: #fffb00;
}