/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

.hide {
  display: none;
}

/* Header */
.headerOpacity,
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  margin-right: 5%;
  padding-left: 2%;
  background: var(--bg-black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.menuIcon {
  font-size: 2rem;
  color: var(--text-yellow);
  cursor: pointer;
  display: none;
}

.headerOpacity img,
.header img {
  width: 55px;
  height: 45px;
  border-radius: 100%;
}

.headerOpacity {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 0;
  margin-right: 5%;
  padding-left: 2%;
  width: 100%;
  background: var(--bg-black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  opacity: 0.7;
}

.logo {
  position: relative;
  padding-left: 5%;
  text-decoration: none;
  color: var(--text-yellow);
  font-weight: 800;
  font-size: 20px;
}

.navbar span {
  font-size: 18px;
  color: var(--text-white);
  text-decoration: none;
  font-weight: 500;
  margin-right: 55px;
  transition: .3s;
}

.navbar span:hover,
.navbar span.active {
  color: var(--text-yellow);
}

/* Responsive */
@media (max-width: 991px) {
  .headerOpacity,
  .header {
    padding: 2rem 4%;
  }
}

@media (max-width: 768px) {
  .headerOpacity img,
  .header img {
    position: absolute;
    top: 10%;
    left: 3%;  
  }

  .headerOpacity,
  .header {
    min-height: 30px;  
  }
  
  .menuIcon {
    position: absolute;
    display: block;
    top: 5%;  
    font-size: 50px;
    margin-left: 80%;
  }

  .navbar {
    transition: .25s ease;
    transition-delay: .25s;
    width: 100%;
    margin-top: 10%;
  }

  .navbar a {
    display: block;
    font-size: 0.9rem;
    margin-top: 1rem;
    width: 100%;
    padding-right: 80%;
  }
}

@media (max-width: 480px) {
  .menuIcon {
    margin-left: 77%;
  }
}

@media (max-width: 350px) {
  .menuIcon {
    margin-left: 74%;
  }
}

@media (max-width: 280px) {
  .menuIcon {
    margin-left: 71%;
  }
}