/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

/* Section Home */
.home {
  background-image: url('../../images/gym14.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  padding: 0 5%;
}

.homeContent {
  color: var(--text-white);
  max-width: 600px;
}

.homeContent h1 {
  position: relative;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--text-white);
  overflow: hidden;
}

.homeContent h3 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: var(--text-yellow);
}

.homeContent p {
  position: relative;
  font-size: 16px;
  margin: 20px 0 40px;
}

.homeContent .btnBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
  overflow: hidden;
}

.btnBox a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: var(--button-bg);
  border: 2px solid var(-button-border);
  border-radius: 8px;
  font-size: 15px;
  color: var(--button-text);
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.btnBox a:hover {
  color: var(--button-text-hover);
  border: 2px solid var(--button-border-hover);
}

.btnBox a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--button-bg-before);
  z-index: -1;
  transition: .5s;
  animation: manipActiveHover .1s forwards; 
  animation-delay: 4s;
  pointer-events: none;
}

.btnBox a:hover::before {
  width: 100%;
}

/* Iconos  */
.homeSci {
  position: absolute;
  bottom: 40px;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.homeSci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid var(--social-border);
  border-radius: 50%;
  font-size: 20px;
  color: var(--social-text);
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.homeSci a:hover {
  color: var(--social-text-hover);
}

.homeSci a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--social-bg-before);
  z-index: -1;
  transition: .5s;
}

.homeSci a:hover::before {
  width: 100%;
}

/* Animation Logo */
@keyframes showRight {
  100% {
    width: 0;
  }
}

@keyframes manipActiveHover {
  100% {
    pointer-events: auto;
  }
}

/* Responsive */
@media (max-width: 1050px) {
  .home .homeSci a,
  .home .btnBox a {
    font-size: 1.1rem;
  }

  .home .homeContent h3,
  .home .homeContent h1 {
    font-size: 2rem;
  }
}

@media (max-width: 750px) {
  .home .homeContent h3,
  .home .homeContent h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 550px) {
  .home .btnBox a {
    font-size: 0.8rem;
    width: 8rem;
    height: 2.5rem;
  }

  .home .homeSci a {
    font-size: 0.9rem;
    width: 2rem;
    height: 2rem;
  }

  .home .homeContent h3,
  .home .homeContent h1 {
    font-size: 1.2rem;
  }
}

@media (max-width: 340px) {
  .home .homeContent h3,
  .home .homeContent h1 {
    font-size: 1rem;
  }

  .home .btnBox a {
    font-size: 0.7rem;
    width: 6rem;
    height: 2rem;
  }
}
